html
{
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;font-size: 100%;
}
body
{
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;font-size: 100%;
}
div
{
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;font-size: 100%;
}
span
{
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;font-size: 100%;
}
h1
{
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;font-size: 100%;
}
h2
{
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;font-size: 100%;
}
h3
{
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;font-size: 100%;
}
h4
{
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;font-size: 100%;
}
h5
{
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;font-size: 100%;
}
h6
{
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;font-size: 100%;
}
p
{
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;font-size: 100%;
}
em
{
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;font-size: 100%;
}
img
{
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;font-size: 100%;
}
strong
{
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;font-size: 100%;
}
sub
{
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;font-size: 100%;
}
sup
{
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;font-size: 100%;
}
b
{
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;font-size: 100%;
}
u
{
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;font-size: 100%;
}
i
{
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;font-size: 100%;
}
dl
{
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;font-size: 100%;
}
dt
{
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;font-size: 100%;
}
dd
{
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;font-size: 100%;
}
ol
{
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;font-size: 100%;
}
ul
{
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;font-size: 100%;
}
li
{
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;font-size: 100%;
}
fieldset
{
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;font-size: 100%;
}
form
{
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;font-size: 100%;
}
label
{
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;font-size: 100%;
}
table
{
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;font-size: 100%;
}
tbody
{
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;font-size: 100%;
}
tfoot
{
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;font-size: 100%;
}
thead
{
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;font-size: 100%;
}
tr
{
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;font-size: 100%;
}
th
{
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;font-size: 100%;
}
td
{
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;font-size: 100%;
}
article
{
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;font-size: 100%;
}
aside
{
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;font-size: 100%;
}
canvas
{
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;font-size: 100%;
}
details
{
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;font-size: 100%;
}
figcaption
{
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;font-size: 100%;
}
figure
{
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;font-size: 100%;
}
footer
{
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;font-size: 100%;
}
header
{
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;font-size: 100%;
}
hgroup
{
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;font-size: 100%;
}
menu
{
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;font-size: 100%;
}
nav
{
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;font-size: 100%;
}
section
{
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;font-size: 100%;
}
summary
{
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;font-size: 100%;
}
time
{
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;font-size: 100%;
}
mark
{
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;font-size: 100%;
}
audio
{
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;font-size: 100%;
}
video
{
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;font-size: 100%;
}
a
{
    margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;outline:none;
}
table
{
    border-collapse: collapse;border-spacing: 0;
}
td
{
    vertical-align: top;
}
td img
{
    vertical-align: top;
}
input
{
    margin: 0;font-size: 100%;outline: none;
}
select
{
    margin: 0;font-size: 100%;outline: none;
}
button
{
    margin: 0;font-size: 100%;outline: none;
}
textarea
{
    margin: 0;font-size: 100%;outline: none;
}
input[type="text"]
{
    padding: 0;
}
input[type="password"]
{
    padding: 0;
}
textarea
{
    padding: 0;
}
input[type="checkbox"]
{
    vertical-align: bottom;
}
input[type="radio"]
{
    vertical-align: text-bottom;
}
sub
{
    vertical-align: sub;font-size: smaller;
}
sup
{
    vertical-align: super;font-size: smaller;
}
article
{
    display:block;
}
aside
{
    display:block;
}
details
{
    display:block;
}
figcaption
{
    display:block;
}
figure
{
    display:block;
}
footer
{
    display:block;
}
header
{
    display:block;
}
hgroup
{
    display:block;
}
menu
{
    display:block;
}
nav
{
    display:block;
}
section
{
    display:block;
}
nav ul
{
    list-style:none;
}
html
{
    min-height:100%;
}
body
{
    color: #000;text-align: left;font-size: 1em;min-height:100%;
}
a
{
    color: #e6618c;text-decoration: underline;
}
a:visited
{
    color: #e6618c;text-decoration: underline;
}
a:hover
{
    color: #fdf208;text-decoration:none;
}
a:focus
{
    color: #c83867;text-decoration: underline;
}
a:active
{
    color: #c83867;text-decoration: underline;
}
h1
{
    font-weight:normal;
}
h2
{
    font-weight:normal;
}
h3
{
    font-weight:normal;
}
h4
{
    font-weight:normal;
}
h5
{
    font-weight:normal;
}
h6
{
    font-weight:normal;
}
img
{
    max-width:100%;
}
.clr
{
    clear:both;
}
.clearfix:after
{
    clear: both;content: "";display: table;
}